/* Reset browser default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make sure body takes full screen */
body, html, #root {
  height: 100%;
  width: 100%;
  background-color: #1e1e1e; /* dark background */
  color: white;
  font-family: sans-serif;
}
